.banner {
    height: 75vh;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* ?? */
  .banner .banner__content {
    z-index: 1;
    position: relative;
    animation: fade-in 5s linear;
    color: white;
  }
    
    .banner .banner__image {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
      margin: 0 10px 0 10px;
      background-image: url(../fotos/banner.JPG);
      background-size: 60vh;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 0;
      opacity: 0.95;
    }
    @media (800px <= width) and (orientation: landscape) {
      .banner {
        height: 55vh;
      }
    }
    @media (min-width: 768px){
        .banner .banner__image{
          background-image: url(../fotos/logo.jpeg);
          background-size: 200vh;
          background-position: center;
          margin: 10px; 
        }    
    }
    @media (500px < width) and (768px > width){
      .banner .banner__image {
        background-image: url(../fotos/banner.JPG);
        background-size: 110vh;
      }
    }
    
    @keyframes fade-in {
      0% {
        opacity: 0;
        width: 0;
      } /*Inicio*/
      
      20% {
        width: 100%;
      }
      
      50% {
        width: 50%;
      }
      
      75% {
        width: 100%;
      }
      
      100% {
        opacity: 1;
      } /*Fin*/
    }
    
   