
/* Styling the body of the page */
.habilidades {
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.habilidades__text{
    display: flex;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;   
}
/* Stylingthe last h2 tag by giving margin bottom */
/*.progress-bar-container:not(:last-child) {
    margin-bottom: 50px;
}*/

.progress-bar-container{
    list-style: none;
    display: block;
    align-content: space-between;
    margin: 0 auto;
}
.skill {
    margin-right: 20px;
}
@media (768px <= width){
    .progress-bar-container{
        display: flex;
        justify-content: space-between;
    }
    .skill{
        width: 35%;
    }
}


/* Styling the h2 tag by giving color,
letter spacing, font-size etc.*/
.progress-bar-container h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    letter-spacing: 1px;
    font-size: 20px;
}

/* Styling the border and box
effect of the progress bar*/
.progress-bar {
    width: relative;
    height: 10px;
    margin-top: 10px;
    border: 1px solid #565656;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(245, 159, 0);
}

/* Stylingthe background color of each
animation and border radius */
.percentage {
    display: block;
    height: 100%;
    background-color: orange;
    border-radius: 5px;
    animation: progress 1500ms ease-in 1;
}

/* Assigning width of each languages*/
.c {
    width: 85%;
}

.java {
    width: 70%;
}

.python {
    width: 55%;
}

.html {
    width: 75%;
}

.css {
    width: 65%;
}

.javascript {
    width: 55%;
}

/* Animating the progress bar by
initially starting from 0*/
@keyframes progress {
    from {
        width: 0;
    }
}