.btn {
    color: var(--main-text-color);
    background-color: var(--main-brand-color);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--main-brand-color);
    transition: font-size 1s linear;
    /*transition-delay: 1s */
}

.btn:hover {
    font-size:var(--main-brand-color-light);
}

@media (hover: hover) {
  .btn:hover {
    font-size: var(--main-brand-color-light);
  }
}

.btn.btn--secondary{
  background-color: transparent;
  border-color: var(--main-text-color);
}

