
section {
     min-height:300px; 
}

.galeria__video{
    position: relative;
    display: flex;
    justify-content: center;
}

.galeria__video video{
    position: absolute;
    display: flex;
    z-index: 1;
    top: 70px;
    width: 384px;
}

.galeria {
    width: 90%;
    margin: 0 auto;
}

.galeria .galeria__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    gap: 15px;
}

.galeria .galeria__list img {
    width:  300px;
    height: 400px;
    object-fit: cover;
  }

  .galeria .galeria__list figure {
      margin: 0;
  }

@media (768px >= width) {
    section {
        min-height:120px; 
    }
    .galeria__video video {
        top: 30px;
        width: 175px;
    }
    .galeria .galeria__list {
        grid-template-columns: repeat(2, 1fr);
    }  

    .galeria .galeria__list img {
        width:  120px;
        height: 200px;
        object-fit: cover;
      }
}